[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = omit_if_default

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = silent

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = silent
